.file-container {
  --description-file-font-size: 120%;
  position: relative;
  display: grid;
  grid-template-rows: 20% 30% 50%;
  height: 85%;
  max-width: var(--max-width-in-about-items);
  /* max-height: var(--max-height-in-about-items); */
  margin: auto;
  padding: 0 1.5%;
  clip-path: polygon(0 0, 85% 0, 100% 15%, 100% 100%, 0% 100%);
  z-index: 1;
}

.file-container--data,
.file-container--data .file-container__footer__file-name {
  background-color: var(--green-secondary-color);
}

.file-container--dev,
.file-container--dev .file-container__footer__file-name
{
  background-color: var(--gray-color);
}

.file-container::before {
  content: '';
  position: absolute;
  top: 1.5%;
  left: 1.5%;
  right: 1.5%;
  bottom: 1.5%;
  background-color: var(--black-secondary-color); /* Color del borde */
  clip-path: polygon(0 0, 85.5% 0, 100% 14.5%, 100% 100%, 0% 100%); /* Ligeramente más grande */
  z-index: -1;
}

.file-container__title {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: calc(var(--description-file-font-size) + 120%);
}

.file-container__description {
  display: flex;
  align-items: center;
  padding: 0 3%;
  font-size: var(--description-file-font-size);
}

.file-container--data .file-container__description b {
  color: var(--green-secondary-color);
}

.file-container--dev .file-container__description b {
  color: var(--gray-color);
}

.file-container__description__words {
  display: grid;
}

.file-container__footer {
  display: grid;
  grid-template-columns: 1.5fr 1fr;
}

.file-container__footer__reference-image {
  width: 85%;
  max-width: 20rem;
  margin: auto;
}

.file-container__footer__file-name {
  position: relative;
  display: grid;
  place-items: center;
  top: 70%;
  left: 3%;
  height: 20%;
  max-height: 5rem;
  border-top-left-radius: .5rem;
  border-bottom-left-radius: .5rem;
  color: black;
  font-weight: bolder;
  font-size: calc(var(--description-file-font-size) + 5%);
}

@media (max-width: 1480px) {
  .file-container__title {
    display: flex;
    justify-content: start;
    padding: 0 3%;
  }
}

@media (max-width: 1360px) {
  .file-container {
    --description-file-font-size: 100%;
  }
}

@media (max-width: 1270px) {
  .file-container {
    --description-file-font-size: 90%;
  }
}