.file-container {

  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  height: 85%;
  margin: auto;
  background-color: var(--black-secondary-color);
  clip-path: polygon(0 0, 80% 0, 100% 20%, 100% 100%, 0% 100%);
}

.file-container__title {
  display: flex;
  justify-content: center;
  font-size: 2.5rem;
}

.file-container__description {
  padding: 0 1.2rem;
  font-size: 1.25rem;
}