.main-container {}

.profession-container {
  position: relative;
}

.profession-container__header {
  position: relative;
  border: 1px solid red;
  width: max-content;
}

.profession-container__header__icon {
  height: 10rem;
}

.profession-container__header__icon path {
  color: aqua !important;
}

.profession-container__header__title {
  position: absolute;
  display: grid;
  place-items: center;
  width: 100%;
  height: 100%;
  top: 0;
}

.profession-container__aside {
  display: none;
}