*.mp4
*.svg
*.png
*.jpg
*.webp
*.gif
/color_palet/
/Documentation/
/env/
/ochux_web_project/
/some_videos/
/old/
/template-react/package-lock.json
/template-react/README.md
/template-react/.gitignore

# Some sources
/template-react/src/captchakey.txt

# Logs - templates-react
!/template-react/public/ochux_logo.png
/template-react/logs
/template-react/*.log
/template-react/npm-debug.log*
/template-react/yarn-debug.log*
/template-react/yarn-error.log*
/template-react/pnpm-debug.log*
/template-react/lerna-debug.log*

/template-react/node_modules
/template-react/dist
/template-react/dist-ssr
/template-react/*.local

# Editor
/template-react/.vscode/*
/template-react/!.vscode/extensions.json
/template-react/.idea
/template-react/.DS_Store
/template-react/*.suo
/template-react/*.ntvs*
/template-react/*.njsproj
/template-react/*.sln
/template-react/*.sw?
/Templates_Pruebas/extra