#blink {
  position: relative;
  display: inline-block;
  left: 0.25rem;
  background-color: black;
  color: transparent;
  width: 0.4rem;
  height: 85%;

  animation: blink .5s infinite step-end alternate;
  overflow: hidden;
}

@keyframes blink {
  60% { background-color: transparent; }
}