.all-content-container {
  overflow-y: scroll;
  overflow-x: hidden;
  height: 84vh;
}

.all-content-container::-webkit-scrollbar {
  width: 0.7rem;
}

.all-content-container::-webkit-scrollbar-track {
  border-radius: 0.5rem;
}

.all-content-container::-webkit-scrollbar-thumb {
  background: var(--font-color);
  border-radius: 0.5rem;
}