.contact-container {
  display: grid;
  place-items: center;
  height: 84vh;
}

.box {
  display: grid;
  grid-template-columns: 1fr 1.8fr;
  height: 90%;
  width: 100%;
  max-height: 45rem;
  max-width: calc(var(--max-width-in-about-items) + 3rem);
  border-radius: var(--little-border);
  background-color: var(--black-secondary-color);
  box-shadow: 1rem 1rem 1rem .1rem var(--black-color);
  transition: .2s ease;
}

.box__reference {
  position: relative;
}

.box__reference__background-image {
  height: 100%;
  background-image: url('/assets/contact/code2--blur.jpg');
  background-size: 200%;
  background-repeat: no-repeat;
  background-position: center;
  border-top-left-radius: var(--little-border);
  border-bottom-left-radius: var(--little-border);
}

.box__reference__info {
  position: absolute;
  bottom: 14%;
  left: -25%;
  background-color: var(--black-secondary-color);
  padding: 8%;
  border-radius: var(--little-border);
  /*box-shadow: 1rem 1rem 1rem .1rem var(--gray-color);*/
}

.box__reference__info__element {
  font-size: 120%;
}

.box__form-container {
  position: relative;
  display: grid;
  place-items: center;
}

.box__form-container__mail-icon {
  position: absolute;
  top: 10%;
  right: -5%;
  font-size: 350%;
  color: var(--font-color);
}