.contact-container {
  display: grid;
  place-items: center;
  height: 84vh;
}

.box {
  display: grid;
  grid-template-columns: 1fr 1.8fr;
  height: 90%;
  width: 95%;
  max-width: calc(var(--max-width-in-about-items) + 3rem);
  border-radius: var(--little-border);
  background-color: var(--black-secondary-color);
  box-shadow: 1rem 1rem 1rem .1rem var(--black-color);

  transition: .2s ease;
}

.box__reference {
  position: relative;
}

.box__reference__background-image {
  height: 100%;
  background-image: url('/assets/contact/code2--blur.jpg');
  background-size: 200%;
  background-repeat: repeat;
  background-position: center;
  border-top-left-radius: var(--little-border);
  border-bottom-left-radius: var(--little-border);
}

.box__reference__info {
  position: absolute;
  bottom: 14%;
  left: -25%;
  background-color: var(--black-secondary-color);
  padding: 8%;
  border-radius: var(--little-border);
}

.box__reference__info__element {
  font-size: 120%;
}

.box__form-container {
  position: relative;
  display: grid;
  place-items: center;
}

.box__form-container__mail-icon {
  position: absolute;
  top: 10%;
  right: -5%;
  font-size: 350%;
  color: var(--font-color);
}

@media (max-width: 1100px) {
  .box__reference__info {
    bottom: 5%;
    left: unset;
    right: 50%;
    transform: translate(50%, 0);
  }

  .box__form-container__mail-icon {
    display: none;
  }
}

@media (max-width: 800px) {
  .box__reference__info {
    font-size: .6rem;
  }
}

@media (max-width: 580px) {
  .box {
    grid-template-columns: unset;
  }

  .box__reference {
    display: none;
  }
}

@media (max-height: 380px),
(max-width: 390px) and (max-height: 520px) {
  .box {
    grid-template-columns: 1fr 1.8fr;
  }

  .box__reference {
    display: block;
  }

  .box__reference__info {
    right: -90%;
    left: unset;
    bottom: 35%;
    border: .1rem solid var(--green-secondary-color);
    transform: translate(50%, 0);
  }
}