.text-container {
  display: flex;
  gap: .5rem;
  font-weight: 400;
  font-size: 230%;
  line-height: 100%;
}

.text-container__titles {
  display: flex;
}

.blink {
  position: relative;
  display: flex;
  left: .2rem;
  background-color: var(--font-color);
  color: transparent;
  width: .35rem;
  height: 100%;

  animation: blink .5s infinite step-end alternate;
  overflow: hidden;
}

@keyframes blink {
  60% { background-color: transparent; }
}

@media (max-width: 720px) {
  .text-container__titles {
    position: absolute;
    color: transparent;
  }
  .blink {
    background-color: transparent;
  }
}