/* component: Header */
.header-container {
  position: relative;
  display: grid;
  grid-template-columns: 1fr 2fr 1fr;
  border-radius: .2rem;
  padding: 0 2%;
}

/* component: Masthead */
.masthead {
  display: flex;
  align-items: center;
  gap: .5rem;
}

.masthead__logo {
  width: 4.5rem;
  border-radius: var(--little-border);
}

.masthead__title-container {

}

/* component: Menu */
.nav-menu {
  display: grid;
  place-items: center;
}