/* component: SocialMedia */
.social-media {
  width: max-content;
  display: flex;
  gap: 1.75rem;
}

/* component: SocialMediaIcon */
.icon-link__symbol {
  height: 2.75rem;
  color: var(--font-color);

  transition: color ease .15s;
}

.icon-link__symbol--instagram:hover {
  color: #E4405F
}

.icon-link__symbol--linkedin:hover {
  color: #0077B5;
}

.icon-link__symbol--github:hover {
  color: #333;
}

@media (max-width: 940px) {
  .icon-link__symbol {
    height: 2rem;
  }
}