.portfolio-container {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  place-items: center;
  gap: 2%;
  padding: 0 2%;
  height: 84vh;
}

@media (max-width: 900px) {
  .portfolio-container {
    width: 100vw;
    grid-template-columns: unset;
    grid-template-rows: repeat(2, 1fr);
    padding: 0 5%;
  }
}

@media (max-width: 700px) {
  .portfolio-container {
    padding: 0 2%;
  }
}