:root {
  --folder-height: 2.5rem;
  --folders-container-height: 25rem;
}

/*--- module: ProjectsList ---*/
.title-list-container {
  display: grid;
  grid-template-rows: 1fr 5fr;
  width: 100%;
  min-width: 20rem;
  max-width: 30rem;
}

.project-title {
  width: max-content;
  margin: auto;
  font-weight: 500;
  font-size: 1.8rem;
}

.folders-container {
  overflow-y: auto;
  overflow-x: hidden;
  height: 100%;
  min-height: var(--folders-container-height);
  max-height: var(--folders-container-height);
  width: 100%;
  border-radius: var(--mini-border);
  background-color: var(--black-color);
  box-shadow: 0 .2rem 1rem .2rem transparent;

  transition: 200ms ease;
}

.folders-container:hover {
  box-shadow: 0 .2rem 1rem .2rem #000000;
}

.folders-container::-webkit-scrollbar {
  width: .5rem;
}

.folders-container::-webkit-scrollbar-track {
  border-radius: .5rem;
}

.folders-container::-webkit-scrollbar-thumb {
  background: var(--font-color);
  border-radius: .5rem;
}

.folders-container::-webkit-scrollbar-thumb:hover {
  background-color: #59708f;
}

/*--- module: ProjectFolder and ProjectFile ---*/

.folder {
  position: relative;
  display: flex;
  flex-direction: column;
  width: 100%;
  user-select: none;
}

.folder__reference-line {
  position: absolute;
  background-color: var(--gray-color);
  height: 0%;
  width: .08rem;
  top: 1.35rem;

  transition: .2s ease;
}

.folder__reference-line--open {
  height: calc(100% - 1.35rem);
}

.folder__header, .file {
  position: relative;
  display: flex;
  align-items: center;
  gap: .7rem;
  height: var(--folder-height);
  width: 100%;
  cursor: default;
  z-index: 1;
}

.folder__header::before, .file::before {
  content: '';
  position: absolute;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: white;
  opacity: 0;
}

.folder__header:hover::before, .file:hover::before {
  opacity: .1;
}

.folder__header__caret-icon {
  position: relative;
  height: 1.35rem;
  left: .2rem;

  transition: .2s ease all;
}

.folder__header__caret-icon--open {
  transform: rotate(90deg);
}

.folder__header__folder-icon-container {
  display: flex;
  align-items: center;
  width: 1.35rem;
}

.folder__header__folder-icon-container__folder-icon,
.file__file-icon {
  position: relative;
  height: 1.35rem;
}

.folder__header__title, .file__title {
  position: relative;
  font-weight: 400;
  font-size: 1.25rem;
}

.folder__children-container {
  display: none;
}

.folder__children-container--open {
  display: flex;
  flex-direction: column;
}

.file {
  color: var(--font-color);
  text-decoration: none;
  cursor: pointer;
}

.file__file-icon {
  color: gray;
}

/* File title animation */

.file__title::before, .file__title::after {
  content: '';
  position: absolute;
  height: .14rem;
  bottom: -.05rem;
  width: 0%;
  background-color: var(--secondary-color);

  transition: 230ms ease;
}

.file__title::before {
  right: 50%;
}

.file__title::after {
  left: 50%;
}

.file:hover .file__title {
  color: var(--gray-color);
}

.file:hover .file__title::before, .file:hover .file__title::after {
  width: 50%;
}

/* -- RESPONSIVE -- */

@media (max-width: 900px) {
  :root {
    --folder-height: 2.5rem;
    --folders-container-height: 15rem;
  }

  .title-list-container {
    min-width: unset;
    max-width: unset;
  }
}