:root {
  --folder-height: 2.2rem;
  --folders-container-width: 30rem;
}

/*--- module: ProjectsList ---*/

.folders-container {
  overflow-y: auto;
  overflow-x: hidden;
  height: 25rem;
  max-height: 25rem;
  width: 100%;
  max-width: 30rem;
  padding: .25rem 0;
  border-radius: var(--mini-border);
  background-color: var(--black-color);
  box-shadow: 0 .2rem 1rem .2rem #000000;
  margin: auto;

  transition: 200ms ease;
}

.folders-container:hover {
  box-shadow: 0 .2rem 1rem .3rem #000000;
}

.folders-container::-webkit-scrollbar {
  width: .5rem;
}

.folders-container::-webkit-scrollbar-track {
  border-radius: .5rem;
}

.folders-container::-webkit-scrollbar-thumb {
  background: var(--font-color);
  border-radius: .5rem;
}

.folders-container::-webkit-scrollbar-thumb:hover {
  background-color: #59708f;
}

/*--- module: ProjectFolder and ProjectFile ---*/

.folder {
  position: relative;
  display: flex;
  flex-direction: column;
  width: 100%;
}

.folder__header, .file {
  position: relative;
  display: flex;
  align-items: center;
  gap: .5rem;
  height: var(--folder-height);
  width: 100%;
  cursor: default;
  z-index: 1;
  user-select: none;
}

.folder__header::before, .file::before {
  content: '';
  position: absolute;
  top: 0;
  width: var(--folders-container-width);
  height: 100%;
  background-color: white;
  opacity: 0;
} 

.folder__header:hover::before, .file:hover::before {
  opacity: .1;
}

.folder__header__caret-icon {
  position: relative;
  height: 1rem;
  left: .2rem;

  transition: .2s ease all;
}

.folder__header__caret-icon--open {
  transform: rotate(90deg);
}

.folder__header__folder-icon, .file__file-icon {
  height: 1rem;
}

.folder__header__title, .file__title {
  position: relative;
  font-weight: 400;
}

.folder__header__title::before {
  content: '';
  position: absolute;
  height: 200%;
  width: .05rem;
  left: -2.2rem;
  background-color: blue;
}

.folder__children-container--open {
  display: flex;
}

.folder__children-container--closed {
  display: none;
}

.file {
  color: var(--font-color);
  text-decoration: none;
  cursor: pointer;
}

.file__file-icon {
  color: gray;
}

/* File title animation */

.file__title::before, .file__title::after {
  content: '';
  position: absolute;
  height: .14rem;
  bottom: -.05rem;
  width: 0%;
  background-color: var(--secondary-color);

  transition: 230ms ease;
}

.file__title::before {
  right: 50%;
}

.file__title::after {
  left: 50%;
}

.file:hover .file__title {
  color: var(--gray-color);
}

.file:hover .file__title::before, .file:hover .file__title::after {
  width: 50%;
}