:root {
    --main-color: #222F40;
    --font-color: #f1f1f1;
    --secondary-color: #3F5573;
    --gray-color: #6F87A6;
    --black-color: #1A1A1A;
    --little-border: 0.65rem;
    --borders-header: 0.32rem;
    --personal-img-height: 35rem;
    --videos-height: 7.2rem;
    background: linear-gradient(to right, var(--main-color) 60%, var(--secondary-color));
    font-family: "M PLUS Code Latin", monospace;
    font-size: 100%;
}

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

.main {
    display: grid;
    grid-template-rows: 16vh 84vh 0;
    grid-gap: 0;
    padding: 0 1.5rem;
    color: var(--font-color);
    overflow: hidden;
}

.main-header {
    position: relative;
    display: grid;
    grid-template-columns: 1fr 2fr 1fr;
    border-radius: 0.2rem;
} 

.main-header-title_and_logo {
    display: grid;
    place-items: left;
}

.main-header-title_and_logo-items {
    display: flex;
    align-items: center;
}

.main-header-title_and_logo-items img {
    position: relative;
    width: 5rem;
    border-radius: var(--little-border);
    margin: 0.5rem 0;
}

.main-header-title_and_logo-items-words {
    display: grid;
    grid-template-columns: 7.5rem 11.5rem;
}

.main-header-title_and_logo-items-words span {
    font-size: 2.5rem;
}

.main-header-title_and_logo-items-words #ochux_name {
    display: flex;
    justify-content: right;
    margin-right: 0.7rem;
}

/* typing effect */
.main-header-title_and_logo-items-words #typing_effect {
    display: flex;
    align-items: center;
}

.main-header-title_and_logo-items-words span #typing_effect_title {
    display: flex;
    align-items: center;
}

.main-header-title_and_logo-items-words span #blink {
    position: relative;
    display: flex;
    left: 0.25rem;
    background-color: var(--font-color);
    width: 0.4rem;
    height: 85%;

    animation: blink .5s infinite step-end alternate;
    overflow: hidden;
}

.main-header-menu {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 2rem;
}

.main-header-menu-span a {
    color: var(--font-color);
    text-decoration: none;
    font-size: 1.35rem;
    white-space: nowrap;
}

.main-header-menu-span .bar {
    position: relative;
    top: 0.2rem;
    border-bottom: 0.15rem solid var(--gray-color);
    opacity: 0;

    transition: 280ms ease;
}

.main-header-menu-span:hover .bar {
    opacity: 1;
}

.main-header-menu-span #bar-selected {
    border-bottom: 0.3rem solid var(--font-color);
    opacity: 1;
}

/*--dropdown menu--*/

.main-header-menu_drop {
    display: none;
    min-width: 11.5rem;
    align-items: center;
}

.main-header-menu_drop .dropdown {
    position: relative;
    width: 100%;
}

.main-header-menu_drop .select_drop {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem;
    border-bottom: 0.2rem solid var(--font-color);
    border-top-left-radius: var(--little-border);
    border-top-right-radius: var(--little-border);
    color: var(--font-color);
    cursor: pointer;

    transition: 300ms ease box-shadow;
}

.main-header-menu_drop .select_drop-clicked,
.main-header-menu_drop .select_drop:hover {
    box-shadow: 0 0 0.3rem var(--font-color);
}

.main-header-menu_drop .selected_drop {
    font-size: 1.35rem;
}

.main-header-menu_drop .caret_drop {
    width: 0;
    height: 0;
    border-left: 0.4rem solid transparent;
    border-right: 0.4rem solid transparent;
    border-top: 0.8rem solid var(--font-color);

    transition: 300ms ease;
}

.main-header-menu_drop .caret_drop-rotate {
    transform: rotate(180deg);
}

.main-header-menu_drop .option_drop {
    list-style: none;
    padding: 0.2rem 0.5rem;
    background-color: var(--black-color);
    border-bottom-left-radius: var(--little-border);
    border-bottom-right-radius: var(--little-border);
    position: absolute;
    top: 4rem;
    width: 100%;
    opacity: 0;
    visibility: hidden;
    transition: ease 200ms;
    z-index: 1;
}

.main-header-menu_drop .option_drop a {
    text-decoration: none;
    color: var(--font-color);
    cursor: pointer;
}

.main-header-menu_drop .option_drop a li {
    padding: 0.5rem 0.3rem;
    margin: 0.3rem 0;
    font-size: 1.35rem;
}

.main-header-menu_drop .option_drop a:hover li {
    background-color: var(--main-color);
}

.main-header-menu_drop .option_drop-open {
    display: block;
    opacity: 1;
    visibility: visible;
}

.main-header-menu_drop .active_drop {
    background-color: var(--font-color) !important;
    color: var(--black-color);
    font-weight: 500;
}

/*--End of dropdown menu--*/

.main-header-social_media, .main-footer-social_media {
    display: flex;
    align-items: center;
    justify-content: right;
    gap: 2rem;
}

.main-header-social_media span a, .main-footer-social_media span a {
    color: var(--font-color);
    font-size: 3rem;
    
    transition: ease 300ms;
}

.span-whatsapp-icon a:hover {
    color: #25D366;
}

.span-linkedin-icon a:hover {
    color: #0077B5;
}

.main-body {
    position: relative;
    display: grid;
    grid-template-columns: 1fr 1fr;
    align-self: center;
    place-items: center;

    transition: 300ms ease;
}

.main-body-info {
    width: 30rem;
}

.main-body-info-header span {
    font-size: 1.3rem;
    font-weight: 300;
}

.main-body-info-title span {
    font-size: 3.5rem;
    font-weight: 500;
}

.main-body-info-extra {
    display: flex;
    justify-content: center;
    margin-top: 2rem;
}

.main-body-info-extra a {
    padding: 0.5rem 1rem;
    background-color: var(--secondary-color);
    color: var(--font-color);
    border-radius: var(--little-border);
    text-decoration: none;
    font-size: 1.15rem;
    box-shadow: 0.3rem 0.3rem 0.1rem 0.25rem var(--black-color);

    transition: 320ms ease;
}

.main-body-info-extra a:hover {
    background-color: var(--font-color);
    color: var(--secondary-color);
    box-shadow: none;
}

.main-body-imgs {
    position: relative;
    display: grid;
    padding: 3rem 1.4rem;
}

.main-body-imgs-personal img {
    height: var(--personal-img-height);
    mask-image: linear-gradient(black 60%, transparent);
}

.main-body-imgs-first {
    position: absolute;
    display: flex;
    justify-content: left;
    align-items: center;
    width: 100%;
}

.main-body-imgs-second {
    position: absolute;
    display: flex;
    justify-content: right;
    align-items: center;
    width: 100%;
    bottom: 0;
}

.main-body-imgs-videos {
    height: var(--videos-height);
    border-radius: var(--little-border);
}

@keyframes blink {
    60% { background-color: transparent; }
}

@media (max-width: 2300px) {
    :root {
        font-size: 90%;
    }
}

@media (max-width: 1125px) {
    :root {
        font-size: 88%;
    }

    .main-body {
        place-items: unset;
        grid-template-columns: unset;
        display: flex;
        flex-direction: column;
        margin: auto;
    }

    .main-body-info-extra {
        display: none;
    }

    .main-body-imgs {
        margin-top: 1rem;
        width: max-content;
        margin: auto;
    }

    .main-body-imgs-personal img {
        height: calc(var(--personal-img-height) * 0.75);
    }

    .main-body-imgs-videos {
        height: calc(var(--videos-height) * 0.80);
    }
}

@media (max-width: 1070px) {
    .main-header-menu {
        display: none;
    }

    .main-header-menu_drop {
        display: flex;
    }
}

@media (max-width: 860px) {
    :root {
        font-size: 85%;
    }

    .main {
        grid-template-rows: 14vh 75vh 11vh;
    }

    .main-header {
        grid-template-columns: 1fr 1fr;
    }

    .main-header-social_media {
        display: none;
    }

    .main-footer {
        display: flex;
        flex-direction: column;
    }

    .main-footer-social_media {
        display: flex;
        height: 100%;
        justify-content: center;
        z-index: 1;
    }
}

@media (max-width: 650px) {
    :root {
        font-size: 78%;
    }
}

@media (max-width: 510px) {
    :root {
        font-size: 70%;
    }

    .main-header {
        grid-template-columns: unset;
        display: flex;
        flex-direction: column;
    }
    
    .main-header-menu_drop {
        min-width: unset;
        width: 20rem;
        margin: 0 auto;
    }

    .main-body-info {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .main-body-info-title {
        display: flex;
        justify-content: center;
    }
    
    .main-body-info-title span {
        font-size: 3rem;
        font-weight: 500;
        width: 26rem;
    }
}

@media (max-width: 360px) {
    :root {
        font-size: 60%;
    }
}

/* max height */

@media (max-height: 740px) and (max-width: 720px) {
    :root {
        font-size: 58%;
    }
}

@media (max-height: 740px) {
    .main-body-imgs-second video{
        display: none;
    }
}

@media (max-height: 500px) {
    .main-body-imgs {
        display: none;
    }
}