:root {
    --main-color: #222F40;
    --font-color: #f1f1f1;
    --secondary-color: #3F5573;
    --gray-color: #6F87A6;
    --black-color: #1A1A1A;
    --little-border: 0.65rem;
    --borders-header: 0.32rem;
    background: linear-gradient(to right, var(--main-color) 60%, var(--secondary-color));
    font-family: "M PLUS Code Latin", monospace;
    font-size: 16px;
}

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

.main {
    display: grid;
    grid-template-rows: 16vh 84vh 0;
    padding: 0 1.5rem;
    color: var(--font-color);
    overflow: hidden;
}

.main-header {
    position: relative;
    display: grid;
    grid-template-columns: 1fr 2fr 1fr;
    border-radius: 0.2rem;
}

.main-header-title_and_logo {
    display: grid;
    place-items: left;
}

.main-header-title_and_logo-items {
    display: flex;
    align-items: center;
}

.main-header-title_and_logo-items img {
    position: relative;
    width: 5rem;
    border-radius: var(--little-border);
    margin: 0.5rem 0;
}

.main-header-title_and_logo-items-words {
    display: grid;
    grid-template-columns: 7.5rem 11.5rem;
}

.main-header-title_and_logo-items-words span {
    font-size: 2.5rem;
}

.main-header-title_and_logo-items-words #ochux_name {
    display: flex;
    justify-content: right;
    margin-right: 0.7rem;
}

/* typing effect */
.main-header-title_and_logo-items-words #typing_effect {
    display: flex;
    align-items: center;
}

.main-header-title_and_logo-items-words span #typing_effect_title {
    display: flex;
    align-items: center;
}

.main-header-title_and_logo-items-words span #blink {
    position: relative;
    display: flex;
    left: 0.25rem;
    background-color: var(--font-color);
    width: 0.4rem;
    height: 85%;

    animation: blink .5s infinite step-end alternate;
    overflow: hidden;
}

.main-header-menu {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 2rem;
}

.main-header-menu-span a {
    color: var(--font-color);
    text-decoration: none;
    font-size: 1.35rem;
}

.main-header-menu-span .bar {
    position: relative;
    top: 0.2rem;
    border-bottom: 0.15rem solid var(--gray-color);
    opacity: 0;

    transition: 280ms ease;
}

.main-header-menu-span:hover .bar {
    opacity: 1;
}

.main-header-menu-span #bar-selected {
    border-bottom: 0.3rem solid var(--font-color);
    opacity: 1;
}

.main-header-social_media {
    display: flex;
    align-items: center;
    justify-content: right;
    gap: 2rem;
}

.main-header-social_media span a {
    color: var(--font-color);
    font-size: 3rem;
    
    transition: ease 300ms;
}

.main-header-social_media #span-whatsapp-icon a:hover {
    color: #25D366;
}

.main-header-social_media #span-linkedin-icon a:hover {
    color: #0077B5;
}

.main-body {
    position: relative;
    display: grid;
    grid-template-columns: 1fr 1fr;
    place-items: center;
}

.main-body-info {
    width: 30rem;
}

.main-body-info-header span {
    font-size: 1.3rem;
    font-weight: 300;
}

.main-body-info-title span {
    font-size: 3.5rem;
    font-weight: 500;
}

.main-body-info-extra {
    display: flex;
    justify-content: center;
}

.main-body-info-extra a {
    padding: 0.5rem 1rem;
    margin-top: 3rem;
    background-color: var(--secondary-color);
    color: var(--font-color);
    border-radius: var(--little-border);
    text-decoration: none;
    font-size: 1.15rem;
    box-shadow: 0.3rem 0.3rem 0.1rem 0.25rem var(--black-color);

    transition: 320ms ease;
}

.main-body-info-extra a:hover {
    background-color: var(--font-color);
    color: var(--secondary-color);
    box-shadow: none;
}

.main-body-imgs {
    position: relative;
    display: grid;
    padding: 3rem 1.4rem;
}

.main-body-imgs-personal img {
    height: 35rem;
    mask-image: linear-gradient(black 50%, transparent);
}

.main-body-imgs-first {
    position: absolute;
    display: flex;
    justify-content: left;
    align-items: center;
    width: 100%;
}

.main-body-imgs-second {
    position: absolute;
    display: flex;
    justify-content: right;
    align-items: center;
    width: 100%;
    bottom: 0;
}

.main-body-imgs-videos {
    height: 7.2rem;
    border-radius: var(--little-border);
}

@keyframes blink {
    60% { background-color: transparent; }
}