.description-container {
  width: 29.1rem;
}

.description-container__title {
  font-size: 1.2rem;
  font-weight: 300;
}

.description-container__main-text {
  font-size: 3.4rem;
  font-weight: 500;
}

.description-container__footer {
  display: flex;
  justify-content: center;
  margin-top: 1.8rem;
}

.description-container__footer button {
  padding: .5rem 1rem;
  background-color: var(--secondary-color);
  color: var(--font-color);
  border: none;
  border-radius: var(--little-border);
  text-decoration: none;
  font-size: 1.05rem;
  font-family: "M PLUS Code Latin", monospace;
  box-shadow: .3rem .3rem .1rem .25rem var(--black-color);
  cursor: pointer;
  
  transition: 320ms ease;
}

.description-container__footer button:hover {
  background-color: var(--font-color);
  color: var(--secondary-color);
  box-shadow: none;
}