.home-container {
  position: relative;
  display: grid;
  grid-template-columns: 1fr 1fr;
  align-self: center;
  place-items: center;
  height: 84vh;
  width: 100vw;
}

@media (max-width: 720px) {
  .home-container {
    grid-template-columns: unset;
    grid-template-rows: 1fr 2fr;
  }
}

@media (max-height: 390px) {
  .home-container {
    grid-template-columns: unset;
    grid-template-rows: 1fr;
  }
}