<<<<<<< HEAD
.home-container {
  position: relative;
  display: grid;
  grid-template-columns: 1fr 1fr;
  align-self: center;
  place-items: center;
  height: 84vh;

  transition: 300ms ease;
=======
.home-container {
  position: relative;
  display: grid;
  grid-template-columns: 1fr 1fr;
  align-self: center;
  place-items: center;
  height: 84vh;

  transition: 300ms ease;
>>>>>>> 2847d45 (.gitignore añadido)
}