.images-container {
  position: relative;
  display: grid;
  width: max-content;
  margin: auto;
}

.images-container__video-container {
  position: absolute;
  bottom: 0;
  display: flex;
  align-items: center;
  width: 100%;
}

.images-container__video-container--video1 {
  justify-content: left;
  transform: translate(-5rem, 4rem);
}

.images-container__img-container {
  height: max-content;
}

.images-container__video-container--video2 {
  justify-content: right;
  transform: translate(3rem, .8rem);
}

.profession-video {
  height: 8rem;
}

/* Se incrementa tamaño del GIF porque es un poco más menor */
.images-container__video-container--video1 .profession-video {
  height: 13rem;
}

.personal-image {
  height: 30rem;
  border-radius: 5%;
}