<<<<<<< HEAD
.main-body--home {
    position: relative;
    display: grid;
    grid-template-columns: 1fr 1fr;
    align-self: center;
    place-items: center;
    height: 84vh;

    transition: 300ms ease;
}

.main-body-info {
    width: 30rem;
}

.main-body-info-header span {
    font-size: 1.3rem;
    font-weight: 300;
}

.main-body-info-title span {
    font-size: 3.5rem;
    font-weight: 500;
}

.main-body-info-extra {
    display: flex;
    justify-content: center;
    margin-top: 2rem;
}

.main-body-info-extra a {
    padding: 0.5rem 1rem;
    background-color: var(--secondary-color);
    color: var(--font-color);
    border-radius: var(--little-border);
    text-decoration: none;
    font-size: 1.15rem;
    box-shadow: 0.3rem 0.3rem 0.1rem 0.25rem var(--black-color);

    transition: 320ms ease;
}

.main-body-info-extra a:hover {
    background-color: var(--font-color);
    color: var(--secondary-color);
    box-shadow: none;
}

.main-body-imgs {
    position: relative;
    display: grid;
}

.main-body-imgs-personal img {
    height: var(--personal-img-height);
    border-radius: 5%;
}

.main-body-imgs-first {
    position: absolute;
    display: flex;
    justify-content: left;
    align-items: center;
    width: 100%;
    margin-left: 3rem;
}

.main-body-imgs-second {
    position: absolute;
    display: flex;
    justify-content: right;
    align-items: center;
    width: 100%;
    bottom: 0;
}

.main-body-imgs-videos {
    height: var(--videos-height);
    border-radius: var(--little-border);
}

@keyframes blink {
    60% { background-color: transparent; }
}

@media (max-width: 1125px) {
    .main-body--home {
        place-items: unset;
        grid-template-columns: unset;
        display: flex;
        flex-direction: column;
        align-items: center;
        margin: auto;
    }

    .main-body-info {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .main-body-info-extra {
        display: none;
    }

    .main-body-info-title {
        text-align: center;
    }

    .main-body-imgs {
        margin-top: 1rem;
        width: max-content;
        margin: auto;
    }

    .main-body-imgs-personal img {
        height: calc(var(--personal-img-height) * 0.75);
    }

    .main-body-imgs-videos {
        height: calc(var(--videos-height) * 0.80);
    }
}

@media (max-width: 510px) {
    .main-body-info {
        margin-top: 2.5rem;
    }

    .main-body-info-title {
        display: flex;
        justify-content: center;
    }
    
    .main-body-info-title span {
        font-size: 3rem;
        font-weight: 500;
        width: 26rem;
    }
}

/* max height */

@media (max-height: 740px) and (max-width: 720px) {
    :root {
        font-size: 59%;
    }
}

@media (max-height: 740px) {
    .main-body-imgs-second video{
        display: none;
    }
}

@media (max-height: 540px) {
    .main-body--home {
        display: grid;
        grid-template-columns: 1fr 0;
        place-items: center;
    }

    .main-body-info {
        margin-top: unset;
    }

    .main-body-imgs {
        display: none;
    }
=======
.main-body--home {
    position: relative;
    display: grid;
    grid-template-columns: 1fr 1fr;
    align-self: center;
    place-items: center;
    height: 84vh;

    transition: 300ms ease;
}

.main-body-info {
    width: 30rem;
}

.main-body-info-header span {
    font-size: 1.3rem;
    font-weight: 300;
}

.main-body-info-title span {
    font-size: 3.5rem;
    font-weight: 500;
}

.main-body-info-extra {
    display: flex;
    justify-content: center;
    margin-top: 2rem;
}

.main-body-info-extra a {
    padding: .5rem 1rem;
    background-color: var(--secondary-color);
    color: var(--font-color);
    border-radius: var(--little-border);
    text-decoration: none;
    font-size: 1.15rem;
    box-shadow: .3rem .3rem .1rem .25rem var(--black-color);

    transition: 320ms ease;
}

.main-body-info-extra a:hover {
    background-color: var(--font-color);
    color: var(--secondary-color);
    box-shadow: none;
}

.main-body-imgs {
    position: relative;
    display: grid;
}

.main-body-imgs-personal img {
    height: var(--personal-img-height);
    border-radius: 5%;
}

.main-body-imgs-first {
    position: absolute;
    display: flex;
    justify-content: left;
    align-items: center;
    width: 100%;
    transform: translate(-1.2rem, -.8rem);
}

.main-body-imgs-second {
    position: absolute;
    display: flex;
    justify-content: right;
    align-items: center;
    width: 100%;
    bottom: 0;
    transform: translate(1.2rem, .8rem);
}

.main-body-imgs-videos {
    height: var(--videos-height);
    border: .1rem solid var(--green-color);
}

@keyframes blink {
    60% { background-color: transparent; }
}

@media (max-width: 1125px) {
    .main-body--home {
        place-items: unset;
        grid-template-columns: unset;
        display: flex;
        flex-direction: column;
        align-items: center;
        margin: auto;
    }

    .main-body-info {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .main-body-info-extra {
        display: none;
    }

    .main-body-info-title {
        text-align: center;
    }

    .main-body-imgs {
        margin-top: 1rem;
        width: max-content;
        margin: auto;
    }

    .main-body-imgs-personal img {
        height: calc(var(--personal-img-height) * .75);
    }

    .main-body-imgs-videos {
        height: calc(var(--videos-height) * .80);
    }
}

@media (max-width: 510px) {
    .main-body-info {
        margin-top: 2.5rem;
    }

    .main-body-info-title {
        display: flex;
        justify-content: center;
    }
    
    .main-body-info-title span {
        font-size: 3rem;
        font-weight: 500;
        width: 26rem;
    }
}

/* max height */

@media (max-height: 740px) and (max-width: 720px) {
    :root {
        font-size: 59%;
    }
}

@media (max-height: 740px) {
    .main-body-imgs-second video{
        display: none;
    }
}

@media (max-height: 540px) {
    .main-body--home {
        display: grid;
        grid-template-columns: 1fr 0;
        place-items: center;
    }

    .main-body-info {
        margin-top: unset;
    }

    .main-body-imgs {
        display: none;
    }
>>>>>>> 2847d45 (.gitignore añadido)
}