@import url('https://fonts.googleapis.com/css2?family=JetBrains+Mono:ital,wght@0,100..800;1,100..800&family=M+PLUS+Code+Latin:wght@100..700&display=swap');

:root {
  --main-color: #222F40;
  --font-color: #f1f1f1;
  --secondary-color: #3F5573;
  --gray-color: #6F87A6;
  --gray-dark-color: #252525;
  --gray-light-color: #636363;
  --blue-color: #4c94d6;
  --black-color: #1A1A1A;
  --black-secondary-color: #101010;
  --green-color: #0d727a;
  --green-secondary-color: #16b0bb;
  --little-border: .65rem;
  --mini-border: .32rem;
  --max-width-in-about-items: 55rem;
  --max-height-in-about-items: 40rem;
  background: linear-gradient(to right, var(--main-color) 60%, var(--secondary-color));
  font-family: "M PLUS Code Latin", monospace;
  font-size: 100%;
  overflow-x: hidden;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  display: grid;
  grid-template-rows: 16vh 84vh;
  grid-gap: 0;
  height: 100vh;
  overflow: hidden;
  color: var(--font-color);
  overscroll-behavior: none;
}

/* Editar Swal de ProjectsList */
.alert-images {
  width: 75%;
  background-color: var(--black-color);
  border-radius: .8rem;
  box-shadow: 0 0 1rem .4rem var(--black-secondary-color);
}

.alert-images__title {
  color: var(--font-color);
}

.alert-images__container {
  width: 95%;
  overflow-x: auto;
  white-space: nowrap;
  padding-bottom: 1rem;
}

.alert-images__container::-webkit-scrollbar {
  height: .5rem;
}

.alert-images__container::-webkit-scrollbar-track {
  border-radius: .5rem;
}

.alert-images__container::-webkit-scrollbar-thumb {
  background: var(--font-color);
  border-radius: .5rem;
}

.alert-images__container__image {
  display: inline-block;
  width: 100%;
  max-width: 60rem;
  margin: 0 .5rem;
  object-fit: cover;
}

@media (max-width: 950px) {
  .alert-images {
    width: 100%;
  }

  .alert-images__container__image {
    width: 220%;
  }
}