@import url('https://fonts.googleapis.com/css2?family=JetBrains+Mono:ital,wght@0,100..800;1,100..800&family=M+PLUS+Code+Latin:wght@100..700&display=swap');

:root {
  --main-color: #222F40;
  --font-color: #f1f1f1;
  --secondary-color: #3F5573;
  --gray-color: #6F87A6;
  --gray-dark-color: #252525;
  --gray-light-color: #636363;
  --blue-color: #4c94d6;
  --black-color: #1A1A1A;
  --black-secondary-color: #101010;
  --green-color: #0d727a;
  --green-secondary-color: #16b0bb;
  --little-border: .65rem;
  --mini-border: .32rem;
  --max-width-in-about-items: 50rem;
  --max-height-in-about-items: 40rem;
  background: linear-gradient(to right, var(--main-color) 60%, var(--secondary-color));
  font-family: "M PLUS Code Latin", monospace;
  font-size: 100%;
  overflow-x: hidden;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  display: grid;
  grid-template-rows: 16vh 84vh;
  grid-gap: 0;
  height: 100vh;
  overflow: hidden;
  color: var(--font-color);
}